# Строка подключения к базе данных.
# См. https://www.doctrine-project.org/projects/doctrine-dbal/en/4.2/reference/configuration.html#connecting-using-a-url
dsn=pdo-sqlite:////home/user/Texbot-2.0/db.sqlite3

# Пароль от админ-панели
# Хранится в sha256
admin_password=c81a7b1e755bdf87160ff008f94c8ecc21bc2a710a23bf5e1351300edc0231a1